<form #f="ngForm" novalidate>
  <button  class="btn btn-default" (click)="showNewNoteControls()"> Add new note </button>
  <div [hidden]="isHideNewNoteControls()">
    <textarea ngModel [(ngModel)]="noteText" name="noteText" rows="4" cols="50" placeholder="new Note..."> 
    </textarea>
    <button (click)="saveNote()"> Save </button>
    <button (click)="cancelNoteCreation()"> cancel </button>

  </div>

  <div *ngFor="let note of noteList;let i = index;">

    <app-note-main [noteMain]="note"></app-note-main>
   

  </div>
</form>

<br>


<div> form:{{ f.value | json}}