<form #f="ngForm" novalidate>
  <div>


    <div class="panel panel-primary">
      <div class="panel-heading">

        <h3 class="panel-title">{{noteMain.noteAuthor}}</h3>

      </div>


        <div class="row" style="   background-color: lightblue">
    <div class="col-xs-12 col-sm-8 vcenter " >
        <div class="vcenter white-space-pre-line">
        {{noteMain.noteText}}
        </div>
    </div><!--
    --><div class="col-xs-12 col-sm-4 vcenter ">
        {{noteMain.noteText}}<br>
        {{noteMain.noteText}}<br>
        {{noteMain.noteText}}<br>
        {{noteMain.noteText}}<br>
        {{noteMain.noteText}}<br>
    </div>
</div>


      <div class="panel-body "  >

        <div *ngFor="let subNote of noteMain.subNotes;let i = index;">
          <div class="panel-body white-space-pre-line" style=" margin-top: 2px ;background-color: lightgreen">
            <span style="padding-left:5em">{{subNote.noteAuthor}}::{{subNote.noteText}}</span>
          </div>
        </div>
        <button (click)="showSubNoteControls()"> Reply </button>
        <div [hidden]="ishideSubNoteControls()">
          <textarea ngModel [(ngModel)]="subNoteText" name="subNoteText" rows="4" cols="50" placeholder="Enter your reply"> 
    </textarea>
          <button (click)="saveSubNote()"> Save </button>
          <button (click)="cancelSubNoteCreation()"> cancel </button>
        </div>

      </div>
    </div>








  </div>
</form>